<div class="bg-image img-fluid py-1"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: auto">
  <div class="container">
    <div class="row display-5 justify-content-center pt-1">
      <img src="https://redi.cedia.edu.ec/wkhome/images/orgs/UTC.png" alt="LOGO universidad de cotopaxi" class="h-auto col-lg-3" style="height: auto; width: auto">
      <div class="col-lg-4 text-center"><b>Universidad</b><br> Técnica de Cotopaxi<br></div>
    </div>
  </div>
  <div>
    <div class=" container row justify-content-end ">
      <div class="w-25 text-end">
      <button  class="btn p-0 btn-primary mx-1 col col-6" style="font-size: 15px"  type = "button">
        <i class="fab fa-facebook-square"> </i>Facebook
      </button>
        <button  class="btn p-0 btn-primary mx-1 col col-6" style="font-size: 15px" type = "button">
        <i class="fab fa-twitter"> </i>Twitter
      </button>
        <button  class="btn p-0 btn-primary mx-1 col col-6" style="font-size: 15px" type = "button">
        <i class="fab fa-youtube"> </i> Youtube
      </button>
        <button  class="btn p-0 btn-primary mx-1 col col-6" style="font-size: 15px" type = "button">
        <i class="fab fa-instagram"></i>  Instagram
      </button>
        <button  class="btn p-0 btn-primary mx-1 col col-6" style="font-size: 15px" type = "button">
        <i class="far fa-envelope"></i> E-mail
      </button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-end w-100 mt-3">
  <label for="busqueda" class="w-auto">Buscar:</label>
  <div class="col-lg-2">
    <form >
      <input type="search" class="form-control" placeholder="" aria-label="Search)"  id="busqueda" (keydown.enter)="onEnter()">
    </form>
  </div>
</div>
<div class="text-center">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary m-1 px-4"aria-expanded="false">
      Inicio
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      UTC
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/contacto">Contacto</a></li>
      <li><a class="dropdown-item" routerLink="/directorio">Directorio</a></li>
    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      Pregrado
    </button>
    <ul class="dropdown-menu">
      <li>CAREN</li>
      <li>CIYA</li>
      <li>Administrativas</li>
      <li>Humanas</li>
      <li>Extensión Pujilí</li>
    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      Posgrado
    </button>
    <ul class="dropdown-menu">
      <li>Educación Básica - La Maná</li>
      <li>Lingüistica - Idioma Inglés</li>
      <li>Electromecánica</li>
      <li>Administración de Empresas</li>
    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      Investigración
    </button>
    <ul class="dropdown-menu">
      <li>Quienes somos</li>
      <li>Líneas Investigación</li>
      <li>Grupos de Investigación</li>
      <li>Convocatorias y Resultados</li>
    </ul>
    <button type="button" class="btn btn-secondary m-1 px-4"aria-expanded="false">
      Preguntas Frecuentes
    </button>
  </div>
</div>

<router-outlet></router-outlet>



